/*Estilos da página index.html*/

*{
    background-color: rgb(228, 122, 180);
}

.center {
    text-align: center;
    font-family:sans-serif;
    
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
    font-family:sans-serif;
    
}

#menu li {
    display: inline;
    padding: 20px;
    
}

#menu li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-family:sans-serif;
}

#menu li a:hover {
    color: rgb(63, 63, 63);
}

.p-70 {
    padding: 70px;
}

.p-25 {
    padding: 25px;
}

.br-50 {
    border-radius: 50%;
}


.wh-300 {
    width: 410px; /*largura*/
    height: 500px; /*altura*/

}

.tm-social {
    width: 35px;
    height: 35px;
    padd
}

.mb-50 {
    margin-bottom: 40px;
}

/*Estilos da página contato.html*/